.detail-container{
    background-color: transparent;
    border: 2px solid #fffcf3;
    width: 500px;
    position: absolute;
    left: 29.5%;
    top: 15%;
    border-radius: 30px;
    padding: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fffcf3;
    font-family: 'Play', sans-serif;
}

.detail-img{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}

.detail-name{
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: 40px;
    letter-spacing: 2px;
}

.detail-info{
    margin-bottom: 8px;
}