.card-container{
    background-color: transparent;
    border: 2px solid #fffcf3;
    border-radius: 15px;
    width: 175px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fffcf3;
    font-family: 'Play', sans-serif;
    text-align: center;
    padding: 10px;
    overflow: auto;
}

.card-img{
    width: 95px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.card-img:hover{
    transform: scale(1.1);
}
