.searchBar-input{
    background-color: transparent;
    border: 2px solid #FFFCF3;
    border-radius: 8px;
    width: 225px;
    height: 25px;
    text-align: center;
}

.search-icon{
    width: 15px;
    position: absolute;
    top: 56px;
    right: 405px;
    z-index: 1000;
}